.about {
  width: 85%;
  margin: 120px auto;
  border-radius: 10px;
  background: #fff8f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10% 0;
}
.about-text {
  max-width: 80%;
  font-size: 3.5rem;
  font-weight: 500;
  color: var(--dark-font-color-3);
  margin: 3% 0 3% 0;
  text-align: justify;
}
.about-info-container {
  width: 85%;
  display: flex;
  justify-content: space-evenly;
}
.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1% 0 2% 0;
}
.info-title {
  font-size: 3.3rem;
  font-weight: 500;
  color: var(--dark-font-color-3);
  margin: 1% 0 2% 0;
  text-wrap: nowrap;
}
.info-data {
  font-size: 3.3rem;
  font-weight: 700;
  color: var(--dark-font-color-2);
  margin: 1% 0 2% 0;
  text-wrap: nowrap;
}

/* Medeia Quries for 1440px Device */

@media (max-width: 1440px) {
  .about {
    width: 90%;
    padding: 8% 0;
  }
  .about-text {
    max-width: 80%;
    font-size: 2.2rem;
  }
  .info-title {
    font-size: 2.2rem;
  }
  .info-data {
    font-size: 2.2rem;
  }
}

/* Media Quries for 1024px Device */

@media (max-width: 1024px) {
  .about {
    width: 95%;
    margin: 100px auto;
    padding: 6% 0;
  }
  .about-text {
    max-width: 85%;
    font-size: 1.9rem;
  }
  .info-title {
    font-size: 1.9rem;
  }
  .info-data {
    font-size: 1.9rem;
  }
}

/* Media Quries for 768px Device */

@media (max-width: 768px) {
  .about {
    width: 100%;
    margin: 70px auto;
    padding: 5%;
  }
  .about-text {
    max-width: 95%;
    font-size: 1.6rem;
  }
  .info-title {
    font-size: 1.6rem;
  }
  .info-data {
    font-size: 1.6rem;
  }
  .about-info-container {
    width: 95%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about-info {
    width: 50%;
  }
}

/* Media Quries for Mobile Device */

@media (max-width: 576px) {
  .info-title {
    font-size: 1.5rem;
  }
  .info-data {
    font-size: 1.5rem;
  }
}
