header{
    padding-left: 9%;
    background-blend-mode: multiply;
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, 1% center;
}



header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 0 0 0;
}



header nav .nav-title{
    color: #181818;
    font-size: 60px;
    font-weight: 800;
}
.orange-text{
    color: #FD6E0A;
}



nav > ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-right: 9%;
    column-gap: 5%;
}
nav li{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: #474747;
    font-size: 32px;
}



.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .banner-text{
    max-width: 500px;
}
.banner .banner-greeting{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}
.banner .banner-title{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}
.banner .profile-pic{
    width: 584px;
    height: 676px;
}
.banner p{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
