*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header, main, footer{
    max-width: 2560px;
    margin: 0 auto;
}

.orange-btn{
    text-wrap: nowrap;
    text-align: center;
    color: #FFF;
    font-size: 32px;
    padding: 16px 32px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    background-color: #FD6E0A;
    cursor: pointer;
}
.white-btn{
    text-wrap: nowrap;
    text-align: center;
    color: #FD6E0A;
    font-size: 32px;
    font-weight: 700;
    padding: 16px 32px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}